# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [19]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [20]:
df.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [16]:
#code here
from scipy.stats import ttest_ind

df_dragon = df[df["Type 1"] == "Dragon"]["HP"]
df_grass = df[df["Type 1"] == "Grass"]["HP"]

t_stat, p_value = ttest_ind(df_dragon,df_grass, equal_var='greater')

alpha = 0.05 
if p_value < alpha:
    print ("we reject the null hypothesis. there is significant evidenvce that type Dragon have more stats that grass type pokemon")
else:
     print ("we fail to reject the null hypothesis. there is not significant evidenvce that type Dragon have more stats that grass type pokemon")

we reject the null hypothesis. there is significant evidenvce that type Dragon have more stats that grass type pokemon

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [24]:
df.dtypes

Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [29]:
legendary_stats = df[df["Legendary"] == True][["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]
non_legendary_stats = df[df["Legendary"] == False][["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]

# Perform t-tests for each stat
stats = ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]
alpha = 0.05

for stat in stats:
    t_stat, p_value = ttest_ind(legendary_stats[stat], non_legendary_stats[stat], equal_var=True)
    if p_value < alpha:
        print(f"We reject the null hypothesis for {stat}. There is significant evidence that Legendary PokÃ©mon have different {stat} than Non-Legendary PokÃ©mon (p-value: {p_value:.4f}).")
    else:
        print(f"We fail to reject the null hypothesis for {stat}. There is not significant evidence that Legendary PokÃ©mon have different {stat} than Non-Legendary PokÃ©mon (p-value: {p_value:.4f}).")

We reject the null hypothesis for HP. There is significant evidence that Legendary PokÃ©mon have different HP than Non-Legendary PokÃ©mon (p-value: 0.0000).
We reject the null hypothesis for Attack. There is significant evidence that Legendary PokÃ©mon have different Attack than Non-Legendary PokÃ©mon (p-value: 0.0000).
We reject the null hypothesis for Defense. There is significant evidence that Legendary PokÃ©mon have different Defense than Non-Legendary PokÃ©mon (p-value: 0.0000).
We reject the null hypothesis for Sp. Atk. There is significant evidence that Legendary PokÃ©mon have different Sp. Atk than Non-Legendary PokÃ©mon (p-value: 0.0000).
We reject the null hypothesis for Sp. Def. There is significant evidence that Legendary PokÃ©mon have different Sp. Def than Non-Legendary PokÃ©mon (p-value: 0.0000).
We reject the null hypothesis for Speed. There is significant evidence that Legendary PokÃ©mon have different Speed than Non-Legendary PokÃ©mon (p-value: 0.0000).

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [17]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [30]:

# School and Hospital coordinates
school_coords = (-118, 37)
hospital_coords = (-122, 34)

def euclidean_distance(lat1, lon1, lat2, lon2):
    return np.sqrt((lat1 - lat2) ** 2 + (lon1 - lon2) ** 2)

df['dist_to_school'] = euclidean_distance(df['latitude'], df['longitude'], school_coords[1], school_coords[0])
df['dist_to_hospital'] = euclidean_distance(df['latitude'], df['longitude'], hospital_coords[1], hospital_coords[0])


df['close_to_school_or_hospital'] = (df['dist_to_school'] < 0.50) | (df['dist_to_hospital'] < 0.50)

close_houses = df[df['close_to_school_or_hospital'] == True]['median_house_value']
far_houses = df[df['close_to_school_or_hospital'] == False]['median_house_value']

t_stat, p_value = ttest_ind(close_houses, far_houses, equal_var=False)

print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

alpha = 0.05
if p_value < alpha:
    print("We reject the null hypothesis. There is significant evidence that houses close to a school or hospital are more expensive.")
else:
    print("We fail to reject the null hypothesis. There is not significant evidence that houses close to a school or hospital are more expensive.")

KeyError: 'latitude'